---
# Create administrator service account, admin-user01
apiVersion: v1
kind: ServiceAccount
metadata:
  name: admin-user01
  namespace: kube-system
---
# Assign admin-user01 to cluster-admin role
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: admin-user01
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- kind: ServiceAccount
  name: admin-user01
  namespace: kube-system
---
# Set AWX admin password
## https://github.com/ansible/awx-operator#basic-install
apiVersion: v1
kind: Secret
metadata:
  name: awxdev-admin-password
stringData:
  password: {{ awxpassword }}
---
# Use CustomResourceDefinion for creating AWX
## https://github.com/ansible/awx-operator#basic-install
apiVersion: awx.ansible.com/v1beta1
kind: AWX
metadata:
  name: awxdev
spec:
  service_type: clusterip
  ingress_type: none
  hostname: awxdev.example.com
---
# Creating service to expose via NodePort
# AWX Custom Resource Definiton does not assigning specific port
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: awx
    app.kubernetes.io/managed-by: awx-operator
    app.kubernetes.io/name: awxdev
    app.kubernetes.io/part-of: awxdev
  name: awxdev-nodeportservice
  namespace: default
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 8052
    # assigning to port 32000
    nodePort: 32000
  selector:
    app.kubernetes.io/component: awx
    app.kubernetes.io/managed-by: awx-operator
    app.kubernetes.io/name: awxdev
  sessionAffinity: None
  type: NodePort